<html lang="en">
<%- include("./partials/header.ejs") %>

    <body>
        <div class="about content">
            <h2>Welcome</h2>
            <p>This is a test app</p>
        </div>

        <%- include("./partials/footer.ejs") %>
    </body>

</html>